# U.S. Medical Insurance Costs

In [20]:
import csv
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [101]:
insurance = pd.read_csv("insurance.csv")
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [52]:
ages = insurance['age']
sex = insurance['sex']
bmi = insurance['bmi']
n_children = insurance['children']
smoker = insurance['smoker']
region = insurance['region']
charges = insurance['charges']

In [99]:
class PatientInfo:
    def __init__(self, ages, sex, bmi, children, smoker, region, charges):
        self.patient_ages = ages
        self.patient_sex = sex
        self.patient_bmi = bmi
        self.patient_children = children
        self.patient_smoker = smoker
        self.patient_region = region
        self.patient_charges = charges
        self.patient_total = len(ages)
    
    def analyse_age(self):
        # Provides the average age
        total_age = 0
        for age in self.patient_ages:
            total_age += age
        mean_age = total_age/self.patient_total
        print(f'The average patient age is {mean_age}')
    
    def count_sexes(self):
        # Provides a dictionary with the counts of each gender
        males = 0
        females = 0
        for person in self.patient_sex:
            if person == "female":
                females += 1
            elif person == "male":
                males += 1
            else:
                print("error")
        print(f'The number of males: {males}')
        print(f'The number of males: {females}')
    
    def analyse_bmi(self):
        average_bmi = 0
        for val in self.patient_bmi:
            average_bmi += val
        average_bmi = average_bmi/self.patient_total
        print(f"The average patient bmi is {average_bmi}")
        
    def analyse_smoker(self):
        smokers = 0
        for val in self.patient_smoker:
            if val == "yes":
                smokers += 1
        non_smokers = self.patient_total - smokers
        print(f'There are {smokers} smokers in the data set')
        print(f'There are {non_smokers} non smokers in the data set')
        
    def analyse_number_of_children(self):
        avg = 0
        for val in self.patient_children:
            avg += val
        avg /= self.patient_total
        print(f'The average number of children is {avg} (rounded)')
        
    def regions(self):
        unique_regions = []
        for region in self.patient_region:
            if region not in unique_regions:
                unique_regions.append(region)
        return unique_regions
    
    def analyse_charges(self):
        charge_average = 0 
        for charge in self.patient_charges:
            charge_average += charge
        charge_average /= self.patient_total
        print(f"The average charge is {charge_average}")
    def return_data(self):
        data_dict = dict() 
        data_dict["age"] = [Int(a for age in self.patient_ages]
        data_dict["sex"] = self.patient_sex
        data_dict["bmi"] = self.patient_bmi
        data_dict["children"] = self.patient_children
        data_dict["smoker"] = self.patient_smoker
        data_dict["region"] = self.regions()
        data_dict["charges"] = self.patient_charges
        return data_dict

      region       charges
0  northeast  13406.384516
1  northwest  12417.575374
2  southeast  14735.411438
3  southwest  12346.937377

  smoker       charges
0     no   8434.268298
1    yes  32050.231832

## Patient info
Here we will analyse the patient data set and gather some basic information about the data we have. 
First we shall initialse a PatientInfo object to store all the patient info. We shall examine the averages of the numerical data and the counts for categorical data.

In [93]:
patient_info = PatientInfo(ages, sex, bmi, smoker, n_children, region, charges)

In [94]:
patient_info.analyse_age()

The average patient age is 39.20702541106129

In [95]:
patient_info.count_sexes()

The number of males: 676
The number of males: 662

In [102]:
patient_info.analyse_bmi()

The average patient bmi is 30.663396860986538

In [98]:
patient_info.analyse_charges()

The average charge is 13270.422265141257

In [103]:
region_claims = insurance.groupby("region").charges.mean().reset_index()
region_claims

      region       charges
0  northeast  13406.384516
1  northwest  12417.575374
2  southeast  14735.411438
3  southwest  12346.937377

In [104]:
smoker_group = insurance.groupby(["smoker"]).charges.mean().reset_index()
smoker_group

  smoker       charges
0     no   8434.268298
1    yes  32050.231832

In [106]:
sex_group = insurance.groupby(["sex"]).charges.mean().reset_index()
sex_group

      sex       charges
0  female  12569.578844
1    male  13956.751178

In [111]:
region_std_claims = insurance.groupby('region').charges.std().reset_index()
region_std_claims

      region       charges
0  northeast  11255.803066
1  northwest  11072.276928
2  southeast  13971.098589
3  southwest  11557.179101

In [118]:
claims_below_25_percentile = insurance.groupby('smoker').charges.quantile(0.9).reset_index()
claims_below_25_percentile

  smoker      charges
0     no  14340.60738
1    yes  46642.74220